<div class="chat roll">
  {{#if (ne data.actingCharImg "icons/svg/mystery-man.svg")}}
    <div class="intro-img cut-corner">
      <img src="{{actingCharImg}}" title="{{actingCharName}}" />
      <h3>{{actingCharName}}</h3>
      <p>{{{info}}}</p>
      <span>{{introText}}</span>
    </div>
  {{/if}}
  {{#if infoarme}}
    <div class="intro-chat cut-corner">
      <p class="resultat" style="color:var(--couleur-blanc)">{{{infoarme}}}</p>
    </div>
  {{/if}}
  {{#if infodegat}}
    <div class="intro-chat cut-corner" style="background:{{{color}}}">
      <p class="resultat" style="color:{{{colors}}}">{{{infodegat}}}</p>
    </div>
  {{/if}}
  <div class="intro-chat cut-corner" style="background:{{{color}}}">
      <p class="resultat" style="color:{{{colors}}}">{{{succes}}}</p>
  </div>
</div>