<div id="carac" class="tab character-main" data-group="sheet" data-tab="carac">
   <div class="part robuste">
    <div class="grid grid-3col">
      <label>{{localize 'Pony.Character.Main.Robustesse'}}</label>
      <div>
        {{formInput systemFields.robustness.fields.current name="system.robustness.current" value=system.robustness.current}}
      </div>
      <div>
        {{formInput systemFields.robustness.fields.max name="system.robustness.max" value=system.robustness.max}}
      </div>
    </div>
  </div>


  <div class="partbas">
    <div class="portrait">
      <div class="stats grid grid-3col">
        <div class="stat body">
          <label>{{localize 'Pony.Character.Main.Corps'}}</label>
          {{formField systemFields.body name="system.body" value=system.body localize=true type="select"}}
          <button data-action="roll" data-stat="body" class="roll-button">🎲</button>
        </div>

        <div class="stat spirit">
          <label>{{localize 'Pony.Character.Main.Esprit'}}</label>
            {{formField systemFields.mind name="system.mind" value=system.mind localize=true type="select"}}
            <button data-action="roll" data-stat="mind" class="roll-button">🎲</button>
        </div>

        <div class="stat charm">
          <label>{{localize 'Pony.Character.Main.Charme'}}</label>
            {{formField systemFields.charm name="system.charm" value=system.charm localize=true type="select"}}
            <button data-action="roll" data-stat="charm" class="roll-button">🎲</button>
        </div>
      </div>
      <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" data-action="editImage"/>
    </div>

    <div class="inventaire">
      <div class="part talent">
        <label>{{localize 'Pony.Character.Main.Talent'}} <button type="button" class="add-item add-button" data-action="addMagic">➕</button></label>
        <ul class="list">
          {{#each items as |item index|}}
            {{#if (eq item.type "talent")}}
              <li class="draggable" data-item-id="{{item._id}}" title="{{stripTags item.system.description}}"><img class="item-img" src="{{item.img}} ">
                <span class="name">{{item.name}}</span>
                <span class="modif"><button type="button" class="item-action" data-action="edit" title="{{localize 'Pony.Character.Biography.Modifier'}}" data-item-id="{{item._id}}">✏️</button>
                  <button type="button" class="item-action" data-action="roll" title="{{localize 'Pony.Character.Biography.Utiliser'}}" data-dice="{{item.system.dice}}" data-stat="{{item.name}}" data-item-id="{{item._id}}">🎲</button>
                  <button type="button" class="item-action" data-action="delete" title="{{localize 'Pony.Character.Biography.Supprimer'}}" data-item-id="{{item._id}}">❌</button>
                </span></li>
             {{/if}}
          {{/each}}
        </ul>
      </div>

      <div class="part defaut">
        <label>{{localize 'Pony.Character.Main.Defaut'}} <button type="button" class="add-item add-button" data-action="addDefaut">➕</button></label>
        <ul class="list">
          {{#each items as |item index|}}
            {{#if (eq item.type "faiblesse")}}
              <li class="draggable" data-item-id="{{item._id}}" title="{{stripTags item.system.description}}"><img class="item-img" src="{{item.img}} ">
                <span class="name">{{item.name}}</span>
                <span class="modif"><button type="button" class="item-action" data-action="edit" title="{{localize 'Pony.Character.Biography.Modifier'}}" data-item-id="{{item._id}}">✏️</button>
                  <button type="button" class="item-action" data-action="delete" title="{{localize 'Pony.Character.Biography.Supprimer'}}" data-item-id="{{item._id}}">❌</button>
                </span></li>
             {{/if}}
          {{/each}}
        </ul>
      </div>

      <img src="{{system.marque}}" class="marque" data-edit="system.marque" title="{{localize 'Pony.Character.Main.Marque'}}" data-action="editImage"/>
    <div>
  </div>
</div>
