<nav class="navlib sheet-tabs tabs {{actor.type}}" aria-roledescription="Form Tab Navigation" data-application-part="tabs">
  {{#each tabs as |tab|}}
    <a class="item {{tab.id}} {{tab.cssClass}}" data-action="tab" data-group="sheet" data-tab="{{tab.id}}">{{localize tab.label}}</a>
  {{/each}}
</nav>
